html {
  height: 100%;
}
body {
  background-size: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(
    0deg,
    rgba(206, 200, 243, 1) 0%,
    rgba(204, 247, 237, 1) 48%,
    rgba(244, 255, 251, 1) 100%
  );
  font-family: "Oswald", sans-serif;
}
.weather-app {
  background: white;
  max-width: 600px;
  margin: 30px auto;
  margin-top: 50px;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
}
