html {
  height: 100%;
}
body {
  background-size: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(
    0deg,
    rgba(206, 200, 243, 1) 0%,
    rgba(204, 247, 237, 1) 48%,
    rgba(244, 255, 251, 1) 100%
  );
  font-family: "Oswald", sans-serif;
}
.weather-app {
  background: white;
  max-width: 600px;
  margin: 30px auto;
  margin-top: 50px;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
}

.search-form-input {
  background-color: #ece4f0;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  background-color: #a274cd;
  padding: 15px 20px;
  border: none;
  border-radius: 6px;
  color: white;
  margin-left: 10px;
  font-size: 16px;
}

main {
  padding: 30px 0;
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.app-details {
  font-size: 16px;
  color: rgba(137, 61, 199, 0.4);
  line-height: 24px;
  font-weight: 500;
}

.highlight {
  color: #450482;
}

.app-temp {
  display: flex;
}

.temp-icon {
  width: 92px;
  height: 92px;
  margin-top: 15px;
}

.temp-value {
  font-size: 78px;
  font-weight: bold;
  margin-left: 10px;
}

.temp-unit {
  font-size: 38px;
  margin-top: 16px;
}

footer {
  border-top: 1px solid #ece4f0;
  padding: 20px 0 0 0;
  font-size: 12px;
  text-align: center;
  font-weight: 400;
  color: #a274cd;
}
